<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{pagea :: bootstrapImport}"></span>
</head>
<body>
<main>
    <h1>Page B</h1>
    <nav>
        <a th:href="@{/}"> Home Page</a>
        <ul>
        <li th:each="c:${cats}"><a th:href="@{/detail/{id}(id=${c.id})}">Chat disponible</a></li>
<!--        <a th:href="@{/detail/{id}(id=${idCat2})}">Le Chat le plus Swag</a>-->
<!--        <a th:href="@{/detail/{id}(id=${idCat3})}">Le Chat le plus Sérieux</a>-->
        </ul>
    </nav>
</main>
</body>
</html>