<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail student</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<header>
    <span th:replace="~{home :: navbar}"></span>
    <h1>
        Détail de l'étudiant.e
    </h1>
</header>
<main>
    <div class="card" style="width: 18rem;">
    <div th:unless="myStudent.id == null" class="container d-flex flex-column p-1">
    <h2 class="display-2">
        <span th:text="${myStudent.firstName}"></span>
        <span th:text="${myStudent.lastName}"></span>
    </h2>
    <p> Matricule : <span th:text="${myStudent.id}"></span></p>
    <p> Email : <span th:text="${myStudent.mail}"></span></p>
    </div>
    <div class="container d-flex justify-content-around m-1">
        <a th:href="@{/add/{id}(id=${myStudent.id})}" class="btn btn-success">Modifier</a>
        <form id="deleteForm" method="post" th:action="@{/api/v1/academy/delete/{id}(id=${myStudent.id})}" >
            <button type="button" class="btn btn-danger" th:onclick="@{/list}">Supprimer</button>
        </form>
        </div>
    </div>
</main>
</body>
</html>