:root {
    --color-primary: rgb(239, 241, 204);
    --color-secondary: rgb(240, 226, 181);
    --color-tertiary: rgb(252, 161, 125);
    --color-quaternary: rgb(252, 120, 68);
    --color-quinary: rgb(253, 82, 15);
}
body{
  scroll-behavior: smooth;
}

main{
    background-image: linear-gradient(rgb(247, 192, 137),rgb(253, 82, 15));
    padding:10rem;
    margin:0;
}

#case{
    background : rgb(91, 182, 144); 
    height: 45rem;
    width : 24rem;
    border-radius: 15px;  
    margin: auto;
    display:grid;
    box-shadow: 5px 5px rgb(62, 126, 99);
    border : solid 2px rgb(62, 126, 99);
    
}
h3{
    color:white;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;

}
#title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    font-weight: 800;
    color:rgb(239, 241, 204);
    width:max-content;
    margin:auto; 
    padding-bottom: 3rem;
    
}

#title:hover{
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: auto;
    color: var(--color-primary);
    color: transparent;
    background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
}

@keyframes shadows {
    0% {
    text-shadow: none;
    }
    10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
span{
    font-weight: 600;
}

#screen{
background: rgb(154, 177, 182);
width: 21rem;
height: 10rem;
border-radius: 5px;
justify-self: center;
box-shadow: 3px 3px rgb(62, 126, 99);
border : solid 2px rgb(62, 126, 99);
text-align: right;
font-size: 2rem;
padding : 10px;
overflow-y: auto;
overflow-wrap: break-word;
}
#case{
  position:relative; 
  z-index:2;
}
.pad{
    font-size: 2rem;
    display : flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1.5rem;

}

.keys{
height: 4.8rem;
width : 4.8rem;
background-color: aliceblue;
border-radius: 5px;
box-shadow: 3px 3px rgb(97, 104, 101);
}
.keys:active{
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);   
}
#grey{
flex-grow: 0.6;
background-color: lightslategray;
color: white; 
font-weight: 600;
}

#red{
background: rgb(250, 192, 3);
}
img{
  height: 2rem;
  justify-self: right;
  padding-right: 1rem ;
  padding-top:1rem; 
}